body {
  margin: 0;
  font-family: -apple-system, Barlow, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #81BEF7;
}

.bg {
  background-image: url(./elondoge.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: Barlow, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}